 input {
    
    box-sizing: content-box;
    border-radius: 1rem;
}
 .search-box {
    color:white !important;
    font-family: Comic Sans MS !important;
    font-size:large !important;
    font-style: italic !important;
    background: linear-gradient(45deg,#146542, #000000,#FF8000) !important;
    border-color: white !important;
    transition: background 0.3s ease-in-out !important;
    margin-top: 0%;
 }

 .search-box:hover {
    background: #675D50 !important;
 }
 
 .search-result:hover {
    background: #FF8000 !important;
 }