 input {
    
    box-sizing: content-box;
    border-radius: 1rem;
}
 .search-box {
    color:white !important;
    font-family: Comic Sans MS !important;
    font-size:large !important;
    background: #A9907E !important;
    border-color: white !important;
    transition: background 0.3s ease-in-out !important;
    margin-top: 0%;
 }

 .search-box:hover {
    background: #675D50 !important;
 }
