.favorite-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .favorite-heart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
  }