.App-logo {
    height: auto;
    max-width: 100%;
  }
  
  .btn {
    border-radius: 5px;
    border-color: #F3DEBA !important;
    color: white !important;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    max-width: 420px;
    outline: 0;
    padding: 10px 0;
    transition: background 0.3s;
    width: 80%;
    background: #A9907E !important;
    margin-top: 5%;
  }
  
  .btn:hover {
    background: #675D50 !important;
    color: white !important;
  }